/* Global Styles */

body {

}

/* Nav Styles */

nav 
{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.timer-wrapper {
  display: flex;
  justify-content: flex-end;
}

.timeLabel {
  padding: 0 10px 0 0;
}

/* Quiz Section Styles */
