/* Global Styles */

body {

}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* Nav Styles */

nav 
{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.timer-wrapper {
  display: flex;
  justify-content: center;
}

.timeLabel {
  padding: 0 10px 0 0;
}



/* Quiz Section Styles */

.question, .answer {
  width: 50vw;
}

.answer h2 {
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.option {
  padding: 5px 0px 5px 0px;
}

.option button {
  width: 200px;
  height: 35px;
  padding: 0px 20px 0px 20px;
  font-weight: bold;
  background-color:blue;
  color: white;
  border-radius: 5px;
}

.option button:hover {
  background-color: blueviolet;
}

/* Feedback section styles */


.feedback {
  width: 50vw;
}

#italic {
  font-style: italic;
  opacity: 0.5;
}

